html, body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
html:root {
    --font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !important;
}
a {
    color: #de221f;
    text-decoration: underline;
}
a:hover {
    color: black !important;
}
.border-top {
    border-top: 1px solid #dedede !important;
}
.border-bottom {
    border-bottom: 1px solid #dedede !important;
}
.border-left {
    border-left: 1px solid #dedede !important;
}
.border-right {
    border-right: 1px solid #dedede !important;
}
.btn {
    border-radius: 2rem;
}
.text-red {
    color: #de221f;
}
.bg-red {
    background-color: #de221f;
}
.handwriting {
    font-family: "YorkshireBrushScript-Regular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h0-5 {
    font-size: 3.5rem;
}
.h2-5 {
    font-size: 2.5rem;
}
.h3-override {
    font-size: 1.75rem !important;
}
.display-2 {
    line-height: 1;
}
.display-3 {
    line-height: 1;
}
@media (max-width: 576px) {
    .display-2 {
        font-size: 4rem;
    }
    .display-3 {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}
.underline {
    text-decoration: underline;
}
.no-underline {
    text-decoration: none;
}
.hand {
    cursor: pointer;
}
@media (max-width: 992px) {
    .no-pt-below-lg {
        padding-top: 0 !important;
    }
}
.bg-1-register {
    background-image: url("https://joefhall.github.io/mssociety-kiss-goodbye-template/images/bg-1-register.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
@media (max-width: 992px) {
    .bg-1-register {
        background-image: none;
    }
}
.bg-3-start {
    background-image: url("https://joefhall.github.io/mssociety-kiss-goodbye-template/images/bg-3-start.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-bottom: 350px !important;
}
@media (max-width: 992px) {
    .bg-3-start {
        background-image: none;
        padding-bottom: 0 !important;
    }
}

.eaLeftColumnContent,
.eaRightColumnContent {
  width: 88%;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
}
.eaLeftColumnContent img:not(.inline):not(.ui-datepicker-trigger),
.eaRightColumnContent img:not(.inline):not(.ui-datepicker-trigger),
.eaLeftColumnContent video,
.eaRightColumnContent video,
.eaLeftColumnContent .video,
.eaRightColumnContent .video {
  display: block;
  width: 28rem;
  max-width: 113.64%;
  margin-left: -6.82%;
}
@media screen and (min-width: 560px) {
  .eaLeftColumnContent img:not(.inline):not(.ui-datepicker-trigger),
  .eaRightColumnContent img:not(.inline):not(.ui-datepicker-trigger),
  .eaLeftColumnContent video,
  .eaRightColumnContent video,
  .eaLeftColumnContent .video,
  .eaRightColumnContent .video {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 560px) {
  .eaLeftColumnContent .video,
  .eaRightColumnContent .video,
  .eaLeftColumnContent .youtube,
  .eaRightColumnContent .youtube,
  .eaLeftColumnContent .vimeo,
  .eaRightColumnContent .vimeo {
    padding-bottom: 63.9225%;
  }
}

.form-content,
.eaFormField,
[class$=FormFieldContainer],
.eaFormElementLabel,
.eaQuestionLabel,
.eaErrorMessage,
.eaSwitchSubjectContainer,
.eaSenderMailTemplate,
.eaFormElementLabel,
.share-links {
  display: block;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

.eaFormField {
  position: relative;
  margin-bottom: 1.0875rem;
}

.ea-clear {
  width: 100%;
  height: 1px;
  margin: 0 0 -1px 0;
  clear: both;
}
.ea-hidden {
  display: none;
}
.horizontal .ea-hidden {
  visibility: hidden;
  display: inline;
}
.eaLeftColumnFiller,
.eaRightColumnFiller,
.eaFullWidthFiller,
.eaLabelSpacer,
br[clear="all"] {
  display: none;
}

.eaFormField {
  position: relative;
  margin-bottom: 1.0875rem;
}
#SubmissionDiv {
  display: none;
}
/* ---------- buttons ----------------------------------------------- */
.panel-button a.button {
    border: solid 5px #ef662f;
}

button, a.button {
  font-size: 1.75rem !important;
  background-color: #de221f;
  border-radius: 2rem;
  font-weight: 700!important;
  text-transform: uppercase!important;
  text-decoration: none;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  margin-top: 1rem!important;
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover, a.button:hover {
    color: #fff !important;
    background-color: #c82333;
    border-color: #bd2130;
}

a.share-button {
  font-size: 1.1rem !important;
}

.ui-body-o a.button:hover,
.ui-body-o a.button:focus {
  background-position: right bottom;
  color: #ffffff;
}
.panel-button .panel-button {
  background-color: #ffffff;
  color: #ef662f;
  border: solid 5px #ef662f;
}
/* ---------- text input -------------------------------------------- */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select,
.selecter .selecter-selected {
  font-size: 1rem;
  line-height: 1.45em;
  margin-bottom: 1.45em;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0;
  background-color: #ffffff;
  border: 0.1rem solid #060606;
  color: #060606;
  padding: 0.725rem 0.7rem;
  width: 100%;
  border-radius: 0.3rem;
  box-sizing: border-box;
}
.selecter-element{
  position:absolute;
  opacity:0;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  font-weight: 800;
  font-style: normal;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  background-image: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
textarea,
.eaMessagecontent,
.eaMessageSubjectContainer input,
.eaSwitchSubjectContainer input,
.eaSwitchTemplateContainer input {
  font-size: 100%;
}
textarea,
.eaMessageContent {
  min-height: 15em;
}
.eaMessageSignoffContainer {
  display: none;
}
.eaSwitchSubjectContainer,
.eaSenderMailTemplate {
  margin-bottom: 1.0875rem;
}
/* ---------- label, legend, description --------------------------- */
label,
.eaFormElementLabel,
.eaQuestionLabel,
.picker .picker-label {
  font-size: 1rem;
  line-height: 1.45em;
  margin-bottom: 1.45em;
  font-weight: normal;
  font-style: normal;
  display: block;
  margin-bottom: 0.3625rem;
  color: #060606;
}
.picker .picker-label::after {
    content:"";
}
.en__field__label {
  width: 100% !important;
}
.eaQuestionLabel {
  margin-bottom: 0.725rem;
}
.eaMandatoryFieldMarker {
  color: #d9362f;
}
.en__mandatory label::after {
  content: " *";
  color: red;
}
/* ---------- checkbox & radio -------------------------------------- */
input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}
.eaFormRadio,
.eaFormCheckbox,
.eaQuestionRadioFormFieldContainer,
.eaQuestionCheckboxFormFieldContainer {
  line-height: 0;
  margin-top: 1.0875rem;
  margin-bottom: 1.0875rem;
}
.eaFormRadio,
.eaFormCheckbox,
.eaQuestionRadio,
.eaQuestionCheckbox {
  display: block;
  margin-bottom: 0.3625rem;
}
.eaFormRadio input,
.eaFormCheckbox input,
.eaQuestionRadio input,
.eaQuestionCheckbox input {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  height: 1.45rem;
}
.eaFormRadio label,
.eaFormCheckbox label,
.eaQuestionRadio label,
.eaQuestionCheckbox label {
  margin-left: 24px;
}
.picker {
  margin-bottom: 0;
  margin-right: 20px;
}
.picker .picker-label {
  float: none;
  display: block;
  margin-left: 2.175rem;
  font-style: normal;
}
.picker .picker-handle {
  background-color: #ffffff;
  border: 0.1rem solid #060606;
      margin-right: 7px;
}
.picker:hover .picker-label,
.picker:focus .picker-label,
.picker.focus .picker-label {
  color: #060606;
}
.picker:hover .picker-handle,
.picker:focus .picker-handle,
.picker.focus .picker-handle {
  border-color: #060606;
}
.picker.picker-radio .picker-handle {
  border-radius: 50%;
}
.picker.picker-radio .picker-flag {
  background-color: transparent;
  width: 11px;
  height: 11px;
  margin: 9px;
  border-radius: 50%;
}
.picker.picker-radio.checked .picker-flag {
  background-color: #060606;
}
.picker.picker-radio.checked:hover .picker-flag {
  background-color: #060606;
}
.picker.picker-checkbox .picker-handle {
  border-radius: 0.3rem;
}
.picker.picker-checkbox.checked .picker-flag {
  background: url("../images/checkbox_tick.png") no-repeat center center;
}
.picker.picker-checkbox.checked .picker-flag:before {
  content: "✓";
  font-size: 150%;
  line-height: 1.45rem;
  padding: 3px;
  color: transparent;
}
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer {
  zoom: 1;
}
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer:before,
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer:after {
  content: "";
  display: table;
}
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer:after {
  clear: both;
}
div[id^="Marketing_permission"] .eaQuestionRadio {
  margin: 0;
}
div[id^="Marketing_permission"] .picker-radio {
  float: left;
  margin-right: 1.5rem;
}
/* ---------- select ------------------------------------------------ */
.eaQuestionSelectFormFieldContainer {
  position: relative;
}
.selecter {
  max-width: 100%;
  margin-top: 0;
  display: block;
  margin: 10px 0;
  position: relative;
}
.selecter .selecter-options,
.selecter .selecter-item {
  box-sizing: border-box;
}
.selecter .selecter-selected {
  background: none #ffffff;
  padding-right: 2.5rem;
  min-height: 2.9rem;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: clip;
  z-index: 49;
}
.selecter .selecter-selected:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0.4rem solid transparent;
  border-top: 0.6rem solid #060606;
  margin-top: -0.3rem;
  position: absolute;
  top: 50%;
  right: 1rem;
}
.selecter.open .selecter-selected,
.selecter.focus .selecter-selected {
  border-radius: 0.3rem 0.3rem 0 0;
}
.selecter .selecter-options {
  border: 0.1rem solid #060606;
  border-top: none;
  background-color: #fefefe;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  display: none;
  left: 0;
  margin: 0;
  max-height: 260px;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 50;
}
.selecter .selecter-item {
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1rem;
  color: #060606;
}
.selecter .selecter-item:first-child {
    border-radius: 0;
}
.selecter .selecter-item.selected {
    background: #F9F9F9;
}
@media screen and (min-width: 980px) {
  .selecter .selecter-item.selected:hover, .selecter .selecter-item:hover {
    background-color: #f3f3f3;
  }
}
@media screen and (min-width: 560px) {
  .eaTripleSelectfield,
  .eaTripleSelectfield ~ .selecter {
    display: inline-block;
    width: 30.3%;
  }
}
/* ---------- validation -------------------------------------------- */
.eaAjaxErrorMessageContainer {
  text-align: left;
  margin-left: 20%;
  color: #d9362f;
}
.eaErrorMessageHide {
  display: none;
}
.en__field__error {
  color: #fa0000;
  font-weight: bold;
}
.validationError input[type="text"],
.validationError input[type="email"],
.validationError input[type="number"],
.validationError input[type="password"],
.validationError input[type="search"],
.validationError input[type="tel"],
.validationError input[type="url"],
.validationError textarea,
.validationError select,
.validationError .selecter .selecter-selected {
  border-color: #ef662f;
}
.validationError .eaErrorMessage {
  padding: 0.4625rem 0.7rem 0.3625rem;
  margin: -0.1rem 0.1rem 0;
}
.eaFieldErrorHighlightColor {
  background-color: #ef662f;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 10px;
}
.eaValidationIcon {
  display: none;
}
.eaValidationIconImg {
  padding-top: 0px;
  margin-top: 0px;
  width: 20px;
  height: 20px;
}
.ea-error-block {
  color: #d9362f;
  margin: 1em 0px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px dashed #ef662f;
  border-radius: 4px;
}
.ea-error-block ul,
.ea-error-block ol,
.ea-error-block p {
  font-weight: normal;
  font-style: normal;
  color: #d9362f;
  padding: 0;
  list-style-type: none;
}
#eaerrors {
  padding: 0.725rem 3%;
  margin-bottom: 1.45rem;
}
#eaerrors a {
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
  text-decoration: underline;
}
/* ---------- loading ----------------------------------------------- */
.ea-loading {
  position: absolute;
  width: 30%;
  top: 200px;
  left: 35%;
  z-index: 200;
  color: #060606;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding: 10px 0px;
  background-color: #ffffff;
  border: 1px solid #060606;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #666666;
}
.ea-loading-spinner {
  width: 16px;
  height: 16px;
  background-image: url(https://e-activist.com/ea-demo/images/loading.gif);
  margin: 5px auto;
  /* For web browsers that don't support RGBa */
  background-color: #ffffff;
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.9);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
/* ==================================================================
 * sharing
 * ================================================================== */
ul.share-links {
  max-width: 26.5em;
}
ul.share-links li {
  list-style: none;
  margin-bottom: 0.725rem;
}
ul.share-links .button {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  padding-left: 1.5rem;
}
@media screen and (max-width: 560px) {
  ul.share-links .button {
    font-size: 1rem;
    line-height: 1.45em;
    margin-bottom: 1.45em;
    width: auto;
    padding: 1.0875rem 1.6rem;
    margin-bottom: 0;
    border-radius: 0.25rem;
  }
}
ul.share-links i,
ul.share-links span.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 65px;
  height: 65px;
  background: url("../images/share_sprite.png") transparent;
}
ul.share-links i + span,
ul.share-links span.icon + span {
  padding-left: 2.8rem;
  display: inline-block;
}
ul.share-links .email i,
ul.share-links .email span.icon {
  background-position: 5px -262px;
}
@media screen and (min-width: 560px) {
  ul.share-links .email i,
  ul.share-links .email span.icon {
    background-position: 5px -247px;
  }
}
ul.share-links .facebook i,
ul.share-links .facebook span.icon {
  background-position: 5px -22px;
}
@media screen and (min-width: 560px) {
  ul.share-links .facebook i,
  ul.share-links .facebook span.icon {
    background-position: 5px -8px;
  }
}
ul.share-links .twitter i,
ul.share-links .twitter span.icon {
  background-position: 5px -143px;
}
@media screen and (min-width: 560px) {
  ul.share-links .twitter i,
  ul.share-links .twitter span.icon {
    background-position: 5px -129px;
  }
}

.picker-element {
  opacity: 0;
  position: absolute;
  z-index: -1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
@media screen {
  .picker-element{left:-99999px}
  .picker.disabled{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}
}


#main .en__field__error {
    color: #fa0000;
    font-weight: bold;
}

#main .en__mandatory > label::after {
    content: " *";
    color: #aa0000;
}

 #main button {
    border: 5px solid #ef662f;
}

#main button:hover {
    border: 5px solid #ef662f;
    background: #ffffff;
    color: #ef662f;
}

#main .en__field__label {
    width: 100%;
}

#main .en__field__input--radio{

    display: none;
}

@media screen and (min-width: 576px) {
    .en__component--formblock {
        max-width: 560px;
        margin: 0 auto;
    }
}

.en__field__element--text, .en__field__element--textarea, .en__field__element--select, .en__field__element--splitselect, .en__field__element--splittext, .en__field__element--tripletext, .en__field__element--tripleselect, .en__field__element--checkbox, .en__field__element--radio, .en__field__element--password, .en__field__element--calendar {
    display: inline-block;
    width: 100%;
}

#main .en__field__input--textarea {
    height: 100px;
    width: 100%;
}

#en__field_supporter_postcode {
    width: 200px;
}

#main .en__submit button {
    margin-left: 1px;
}

.pb input[type="text"],
.pb input[type="date"],
.pb textarea,
.pb select.en__field__input--select,
.pb fieldset{
    
    width: 100%;
}
   
   
   /* ================================== */
/* =     REPLACEMENT CHECKBOX       = */
/* ================================== */
/* If you want to style standard checkboxes, then hide the check boxes and 
/* add your own replacements - these five rules do this */
/* Hide checkboxes */
.pb .en__field__input--checkbox {
    display: none;
}
.pb .en__field__element--checkbox .en__field__item {
    position: relative;
}
.pb .en__field--checkbox .en__field__label--item {
    width: 100%;
    padding-left: 38px;
}
.pb .en__field--checkbox .en__field__label {
    cursor: pointer;
}

/* Add replacement tick box */
.pb input[type=checkbox] + label:before {
    content:"";
     background-color: #fff;
    height: 1.45rem;
    width: 1.45rem;
    border: .1rem solid #060606;

    border-radius: .3rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
/* Replacement tick box - checked */
.pb input[type=checkbox]:checked + label:before {
    background-position: center center;
    background-repeat: no-repeat;*/
    content: "✓";
} 

.picker .picker-handle {
    float: left;
}

.picker.picker-checkbox.checked .picker-flag:before{
    font-size: 100% !important;
}
